.floatingBTN{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .con{
        left: 4px !important;
        bottom: 18px !important;
    }
    header h1{
        font-size:22px;
    }
    header p{
        font-size:12px;
        letter-spacing: 1.2px;
    }
    nav{
        display: none !important;
    }
    .floatingBTN{
        display: block !important;
    }
}